* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: blanchedalmond;
}

#root {
  max-width: 1920px;
  width: 96%;
  margin: 0 auto;

  background-color: rgb(30, 30, 30);
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* HEADER */

header {
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  /* border: 1px solid red; */
  padding: 0 5%;
}

.logo {
  /* border: 1px solid black; */
  font-size: 1.5rem;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10%;
  /* border: 1px solid red; */
}

nav > img {
  height: auto;
  width: 50px;
  position: relative;
}

.nav-btn {
  display: none;
  height: 2em;
  font-size: 1.1em;
  background-color: transparent;
  text-decoration: none;
  border: none;
  /* border: 1px solid red; */
}
.nav-btn:hover {
  color: red;
}

.nav-pop-up {
  position: absolute;
  top: 5%;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.nav-btn2 {
  height: 2em;
  font-size: 1.1em;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

@media (width >= 640px) {
  nav {
    flex: 1;
    max-width: 400px;
  }
  nav > img {
    display: none;
  }
  .nav-btn {
    display: inline;
  }
}
/* -------------------- */
/*      HomePage        */
/* -------------------- */

.img-container {
  height: calc(90dvh - 100px);
  width: 90%;
  margin: 0 auto;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.fade-effect {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.desc-section {
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  gap: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  letter-spacing: 1px;
}

.review-section {
  height: 50dvh;
  width: 90%;
  margin: 0 auto;
  border: 3px solid #600;
}

/* Footer */
footer {
  width: 100%;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
